
<header>
    <h1>The Mongoose Jungle</h1>
    <h5>Step into the deep dark dangerous mongoose jungle and discover magical powers
        to to store data in a highly flexible and scalable document database.
    </h5>
</header>

<form class="reg-form" method="post">
    <h4>Sign up for a free copy</h4>
    <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control trans" id="name" aria-describedby="emailHelp"
        placeholder="Enter your full name" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control trans" id="email" placeholder="Enter your email"
        name="email" required>
    </div>
    <button type="submit" class="btn submit-btn">Submit</button>
</form>