<header>
    <h1 class="thankyou-text">Thank you {{name}} for requesting a copy of The Mongoose Jungle</h1>
    <h5>You have beeen added to our subscribers mailing list.</h5>

    <button><a href="/subscribers">See subscribers</a></button>
</header>
